html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: chartreuse;
}

.card {
  background-color: white;
  padding: 50px 20px;
  border-radius: 10px;
  text-align: center;
  position: relative;
}

.qoute-content {
  padding: 20px 20px;
  margin: 20px auto;
  font-size: 36px;
}
.btn {
  top: 84%;
  left: 400px;
  cursor: pointer;
  padding: 10px 12px;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: blue;
  color: white;
  font-size: 22px;
}
